{% extends "main.html" %}

{% block title %}
Login page
{% endblock title %}

{% block content %}
<h1>Login User</h1>
<div class="register">
    <form action="." method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="non-field-errors">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        {% for f in form %}
        <div class="form-group">
            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
            {{ f }}
            {% if f.errors %}
            <div class="error">
                {% for error in f.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        {% endfor %}


        <button type="submit">Login</button>
    </form>
    <p>you don't have an account <a href="{% url 'myapp:register-user' %}">Register</a></p>

</div>
{% endblock content %}