{% extends "main.html" %}

{% load static %}



{% block title %}
User Settings
{% endblock title %}

{% block content %}
<h1>User Settings</h1>
<div class="register">
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for f in form %}
        <div class="form-group">
            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
            {{ f }}
            {% if f.errors %}
            <div class="error">
                {% for error in f.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        {% endfor %}


        <button type="submit">Update</button>
    </form>


</div>
{% endblock content %}