{% load static %}

{% if request.user.is_authenticated %}



<div class="header-container">


    <a class="logo-link" href="{% url 'myapp:home-view' %}">
        <img class="image-logo" src="{% static 'images/image-6.jpg' %}" alt="logo image">
    </a>

    <form action="{% url 'myapp:home-view' %}" method="get">
        <input type="text" name="query" placeholder="Search rooms..." />
    </form>
    <div class="user-info">
        <span>
            <a href="{% url 'myapp:user-profile' request.user.id %}">@{{request.user}}</a>
        </span>
        <a href="{% url 'myapp:update-user' request.user.id %}">Settings</a>
        <a href="{% url 'myapp:logout-user' %}">Logout</a>
    </div>
</div>
<hr />
{% endif %}